#machineData {
    width: 85%;
    margin: auto;
    padding: 3%;
    text-align: center;
    font-size: 0.9em;
    font-family: sans-serif;
}

#mainTable {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.mainTable th,
.mainTable td {
    padding: 1.3%;
}

#navigationMenu {
    width: 30%;
    text-align: center;
    margin: auto;
}

.navButton {
    background-color: lightgray;
    margin: auto;
    text-align: center;
    padding: 10%;
    border-radius: 1%;
    margin-top: 3%;
}

#statistics {
    width: 70%;
    margin: auto;
    background-color: #83c5be;
    border-radius: 5%;
    padding: 2%;
    padding-bottom: 0;
    text-align: center;
    font-size: 0.9em;
    font-family: sans-serif;
}

#nameTag {
    background-color: #edf6f9;
    border-radius: 10px;
    padding: 1%;
}

#wrapper {
    margin-top: 5px;
    border: 1px solid black;
    border-radius: 5px;
    overflow: hidden;
}

#uptime {
    float: left;
    background-color: rgb(0, 255, 17);
}

#downtime {
    float: right;
    background-color: rgb(255, 0, 0);
    overflow: hidden;
}