#machineData {
    width: 90%;
    margin: auto;
    margin-bottom: 20px;
    padding: 3%;
    text-align: center;
    font-size: 0.9em;
    font-family: sans-serif;
    background-color: #83c5be;
    border-radius: 15px;
}

.mainTable {
    margin: auto;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.mainTable thead tr {
    background-color: #edf6f9;
    color: #ffffff;
}

.mainTable tbody tr {
    border-bottom: 1px solid #dddddd;
}

.mainTable th,
.mainTable td {
    padding: 1.3%;
    background-color: #edf6f9;
}

#navigationMenu {
    width: 25%;
    text-align: center;
    margin: auto;
}

.navButton {
    background-color: lightgray;
    margin: auto;
    text-align: center;
    padding: 10%;
    border-radius: 1%;
    margin-top: 1%;
}

#statistics {
    width: 90%;
    margin: auto;
    background-color: #83c5be;
    border-radius: 15px;
    padding: 2%;
    padding-bottom: 0;
    text-align: center;
    font-size: 0.9em;
    font-family: sans-serif;
}

#nameTag {
    background-color: #edf6f9;
    border-radius: 10px;
    padding: 1%;
}

#wrapper {
    margin-top: 5px;
    border: 1px solid black;
    border-radius: 5px;
    overflow: hidden;
}

#uptime {
    float: left;
    background-color: rgb(0, 255, 17);
}

#downtime {
    float: right;
    background-color: rgb(255, 0, 0);
    overflow: hidden;
}